.main13 {
    display: flex;
    /* border: 1px solid rgb(124, 124, 124); */
    margin-top: 6%;
    height: 500px;
    width: 1000px;
    margin-left: 18%;
    background-color: white;
    box-shadow: 2px 2px 2px 2px grey;
    margin-left: 27%;

}

.main13-subdiv1 {
    width: 400px;
}

.main13-subdiv2 {
    width: 400px;
    border-radius: 0px;
    height: 500px;
}

.main13-subdiv3 {
    display: flex;
    flex-direction: column;
    gap: 10%;
    margin-top: 10%;
    margin-left: 2%;
}

.main13-subdiv4 {
    margin-top: 5%;
    font-weight: bold;
}

.main13-subdiv5 {
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
}

.main13-subdiv6 {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.card-img-top3 {
    height: 500px;
}