.main5 {
    /* border: 5px solid black; */
    margin: -15% 0% 0% 15%;
    padding: 0%;
    /* height: 10px;
    wid */
}

.main5 .main5-subdiv #exampleInputEmail1 {
    color: rgb(240, 255, 101);
}

.Dashboard3 {
    width: 100vw;
    font-size: 90px;
    text-align: center;
    margin-top: 10%;
    /* border: 5px solid black; */
}

.um {
    margin-left: -8%;
    width: 10vw;
    /* border: 5px solid black; */
    /* border: 5px solid rgb(255, 0, 0); */
    margin-top: 11%;
    width: 30vw;
}

/* .main4 {
    margin-left: -200%;
    border: 5px solid black;
    padding-left: -20%;
} */