* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.m-23p {
  margin-top: 23px;
}

html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.bg {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* full viewport height */
}

main {
  flex: 1;
  /* grow main content to push footer down */
  padding-bottom: 20px;
  /* optional padding so content isn't stuck to footer */
}