.footer {
  font-family: 'Times New Roman', Times, serif;
  /* background-color: #c0dfff; */
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 15px 10px;
  font-size: 14px;
  width: 100%;
  position: relative;
  bottom: 0;
  margin-top: 72%;
  margin-bottom: -82%;
}

.footer h4 {
  color: rgb(0, 0, 0);
}

.footer span {
  color: rgb(0, 0, 0);
}

/* Footer Links */
.footer a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 6px;
  transition: 0.3s;
  font-size: 20px;
}

.footer a:hover {
  border-bottom: 3px solid rgb(0, 0, 0);
  font-weight: bold;
}

/* Copyright Text */
.rights {
  font-weight: bold;
  font-style: italic;
}

/* Responsive Footer */
@media (max-width: 768px) {
  .footer {
    font-size: 12px;
    padding: 10px;
  }
}

@media (max-width: 480px) {
  .footer {
    font-size: 10px;
    padding: 8px;
  }
}